
body {
    color:rgb(78, 9, 9)
    }
    strong{
    color: #22fd55;
}
html{
    background-image: image("safetyfirts.png");
}
div{
    font-size: 30px;
    text-align: justify;
    color: blanchedalmond;
}
footer{
    font-size: 25px;
}